
.vbox{
-fx-background-color: aquamarine;
}

.label:hover {
        -fx-text-fill : lightgreen;
        -fx-effect: dropshadow(gaussian, rgba(0, 255, 0, 0.2), 10, 0, 0, 2);
        -fx-transition: all 0.3s ease;
}

/* Formulaire */

.label {
        -fx-font-size: 14px;
        -fx-text-fill: #333333; /* Couleur du texte */
}

.text-field {
        -fx-background-color: #ffffff;
        -fx-border-color: #cccccc;
        -fx-border-radius: 5px;
        -fx-padding: 5px;
}

.button {
        -fx-background-color: #238ea3; /* Couleur de fond */
        -fx-text-fill: white; /* Couleur du texte */
        -fx-font-size: 14px;
        -fx-border-radius: 5px;
        -fx-padding: 10px 20px;
        -fx-margin-top: 200;
}

.button:hover {
        -fx-background-color: #45a049; /* Couleur au survol */
}

.button:pressed {
        -fx-background-color: #3d8b40; /* Couleur au clic */
}
